In [ ]:
library(dplyr)

In [ ]:
library(nycflights13)

In [ ]:
my_db <- src_sqlite("lab2", create = T)

In [ ]:
flights_sqlite <- copy_to(my_db, flights, temporary = FALSE, indexes = list(
  c("year", "month", "day"), "carrier", "tailnum"))

In [ ]:
flights_sqlite <- tbl(nycflights13_sqlite(), "flights")

In [ ]:
flights_sqlite

In [ ]:
flights_sqlite <- tbl(my_db, sql("SELECT * FROM flights"))

In [ ]:
flights_sqlite

In [ ]:
select(flights_sqlite, year:day, dep_delay, arr_delay)

In [ ]:
filter(flights_sqlite, dep_delay > 240)

In [ ]:
arrange(flights_sqlite, year, month, day)

In [ ]:
c=mutate(flights_sqlite, speed = air_time / distance)

In [ ]:
summarise(flights_sqlite, delay = mean(dep_time))

In [ ]:
collect(c)

In [ ]:
c$query

In [ ]:
explain(c)

In [ ]:
translate_sql(x)

In [ ]:
translate_sql("x")

In [ ]:
translate_sql(x == 1 && (y < 2 || z > 3))

In [ ]:
translate_sql(x ^ 2 < 10)

In [ ]:
translate_sql(x %% 2 == 10)

In [ ]:
translate_sql(1)

In [ ]:
translate_sql(1L)

In [ ]:
translate_sql(glob(x, y))

In [ ]:
translate_sql(x %like% "ab*")

In [ ]:
by_tailnum <- group_by(flights_sqlite, tailnum)
delay <- summarise(by_tailnum,
  count = n(),
  dist = mean(distance),
  delay = mean(arr_delay)
)
delay <- filter(delay, count > 20, dist < 2000)
delay_local <- collect(delay)

In [ ]:
delay_local

//All the function in the introductory dplyr link are tried except the functions after 'other databases'.
REFERENCES:
1) DIC-lab2.pdf
2) https://cran.r-project.org/web/packages/dplyr/vignettes/databases.html